body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbarLinks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.flex {
  display: flex;
  align-items: center;
  align-content: center;
}
.circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: solid var(--bs-body-bg);
  gap: 0.5rem;
}
.terminal__header {
  gap: 0.5rem;
  border-radius: .5rem .5rem 0rem 0rem;
  background-color: var(--bs-gray);
  min-height: 2.5rem;
}
.Terminal__code__body{
  background-color: var(--bs-gray-200);
  border-radius: 0rem 0rem .5rem .5rem;
}
